{% extends 'homeLayout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-12 mt-5 mb-2">
            <h2>Cele mai noi stiri</h2>
        </div>
    </div>
    <div id="blogArticles">
        {% for article in articles %}
            {{ include('article/card.html.twig') }}
        {% endfor %}
    </div>
    <button id="loadMore" class="btn btn-primary">Load more</button>

    <script>
        page=0;
        $('#loadMore').on('click', function (){
            page=page+1;
            $.get('loadMore.php?page='+page,function (data){
                $('#blogArticles').append(data);
            });
        });
    </script>
{% endblock %}

