<div class="card col-12 mb-5" style="width: 480px;">
    <div class="card-body">
        <h4 class="card-title">{{ comment.getUsername().username }}</h4>
        <p class="card-text">{{ comment.comment }}</p>
    </div>
</div>