<div id="previewComment" class="col-12 d-none">
    <h4>
        Preview comment
    </h4>
    <div class="card col-12 mb-5">
        <div class="card-body">
            <h4 class="card-title">{{ user.username }}</h4>
            <p id="commentShow" class="card-text"></p>
        </div>
    </div>
</div>