<div class="justify-content-end col-4" style="height: 300px">
    <h4>
        Curiozitati
    </h4>
    {{ include('article/cardCarousel.html.twig') }}
    <div class="mt-5">
        <h4>
            Despre National02
        </h4>
        <p>
            rient montes, nascetur ridiculus mus.
            Phasellus nec pretium felis. Phasellus rutrum scelerisque eros non rutrum. Fusce sit amet turpis augue <a href="contact.php">aici.</a>
        </p>
        <form method="post" action="processSubscribe.php">
            <input type="email" name="email" >
            <button class="btn btn-primary" type="submit">Subscribe</button>
        </form>
    </div>
    <div>
        <h4>Tricou personalizat: </h4>
        <img src="textImage.php">
    </div>
</div>